body {
    font-family: Times, Times New Roman, serif;
    font-size: 1.2em;
}
h2, h3, h4, h5 {
    font-weight: bold;
}
/* Paleta de cores */
/* #fefae0 - bg-claro
   #dda15e
   #bc6c25
   #606c38
   #283618*/

/* media Queries*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

img {
    border-radius: 5px;
}

#logo {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
}

.bg-claro {
    background-color: #fefae0;
}

.backimg {
    overflow: hidden;
    background: url("../img/ald.jpeg") no-repeat fixed;
    background-size: cover;
    color: black;

}
 /* buttons */
.btn-header:hover{
    background-color: black;
    color: white;
}

.btn-basic {
    background-color: #283618;
    color: white;
}

.btn-basic:hover {
    background-color: white;
    color: black;
}

#bookicon:hover{
    color: white;
}

/* fim buttons */

.caixa {
    overflow: hidden;
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

/*OCAS*/
.ocas {
    padding-bottom: 20px;
}

/*Carousel*/
.bt-carousel {
    background-color: #4f6357;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

     /* BOOK TRANSFORM  ztext*/
.z-text {
    /* Tip: Apply CSS transforms here */
    /* rotateX() == up/down */
    /* rotateY() == left/right */
    transform: rotateX(10deg) rotateY(-40deg);
}
.z-layer:not(:first-child) {
    color: #455a64;
    filter: brightness(0.7);
}


/*Pagina Tchydjo*/
#portrait {
    width: 100%;
    border-radius: 10px;
    float: left;
}
.green_bar {
    background-color: #283618;
}
#tchy {
    font-size: 50px;
}

.border-basic {
    border: 2px solid #283618;
    border-radius: 8px;
}

/*footer*/
footer a {
    margin: 5px 15px;
    text-decoration: none;
    color: #ffffff;
}
footer a:hover {
    color: #283618;
    transition: color .5s ease-in-out;
}
footer {
    background-color: #dda15e;
}
